body
{
    margin: 0px;
    text-align: center;
    letter-spacing: 1pt;
}

#bar
{
    height: 50px;
    background-color: #4A5364;
}

#userInfo
{
    width: 20%;
    float: left;
    text-align: left;
    color: white;
    margin-bottom: 0px;

}

#fullName
{
    font-size: 19px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #dbdbdb;
}

#role
{
    margin-left: 21px;
    margin-top: 4px;
    font-size: 9px;
    color: #dbdbdb;
}

#logo
{
    width: 60%;
    float: left;
    text-align: center;
}

#logout
{
    width: 20%;
    float: left;
    text-align: right;
}

#left
{
    clear: both;
    width: 15%;
    height: 900px;
    background-color: #4A5364;
    float: left;

}

#right
{
    width: 85%;
    height: 900px;
    float: left;

}

#usersList
{
    margin-left: 3%;
    margin-top: 2%;
    margin-right: 3%;
    font-size: larger;
    width: 94%;
}

input[type=password], input[type=text]
{
    width: 300px;
    height: 20px;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #333333;
}

input[type=submit]
{
    width: 150px;
    padding: 11px;
    margin: 15px;
    border-radius: 10px;
    border: 1px solid #77BD8B;
    background-color: #77BD8B;
    font-size: 15px;
    color: white;
}

#loginBtn
{
    width: 150px;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #4A5364;
    background-color: #4A5364;
    font-weight: bold;
}

button[type=button]
{
    background-color: red;
    border-radius: 4px;
    border: none;
    color: white;
    height: 30px;
    width: 100px;
    margin: 10px;
    font-weight: 700;
}

.error
{
    color: red;
    font-weight: bold;
    font-size: 15px;
    margin: 0;
}

.menu
{
    color: #dbdbdb;
    height: 50px;
    font-size: 20px;
    text-align: left;
    padding-left: 21px;
    padding-top: 20px;
    font-weight: bold;
}

a:link {
  text-decoration: none;
  color: #dbdbdb;
}

a:visited {
  text-decoration: none;
  color: #dbdbdb;
}

a:hover {
  text-decoration: underline;
  color: #dbdbdb;
}

a:active {
  text-decoration: underline;
  color: #dbdbdb;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px 20px;
  text-align: left;
}

table {
  border-collapse: collapse;
}

#deleteBtn
{
    padding: 5px;
    margin-left: 15px;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: #FF6A61;
    font-size: medium;
    width: 100px;
}

#detailsBtn
{
    padding: 5px;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: #FED876;
    font-size: medium;
    width: 100px;
}

#backBtn
{
    width: 150px;
    padding: 11px;
    margin: 15px;
    border-radius: 10px;
    border: 1px solid #5199FF;
    background-color: #5199FF;
    font-size: 15px;
    color: white;
}

#addUserBtn
{
    padding: 5px;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: #77BD8B;
    font-size: medium;
    width: 100px;
}

#addUser
{
    float: left;
    width: 100%;
    margin-top: 30px;
    margin-left: 50px;
    text-align: left;
}

#userTbl
{
    float: left;
    width: 100%
}

#nav
{
    background-color: #cccccc;
    height: 20px;
    text-align: left;
    padding: 10px;
    letter-spacing: 3pt;
}

#registration
{
    margin-top: 20px;
}

#test
{
    background-color: red;
}

.edit
{
    width: 320px;
    height: 40px;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #333333;
}

#details
{
    margin-top: 20px;
}

#clock
{
    float: right;
}

#basicInfo
{
    margin: 20px;
    height: 257px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #ededed;
}

#contactInfo
{
    margin: 20px;
    height: 190px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #ededed;
}

#basicInfoHeader
{
    background-color: #ededed;
    height: 18px;
    text-align: left;
    padding: 14px;
    border-radius: 5px;
    font-size: 17px;
}

#contactInfoHeader
{
    background-color: #ededed;
    height: 18px;
    text-align: left;
    padding: 14px;
    border-radius: 5px;
    font-size: 17px;
}

.addBlock
{
    height: 60px;
    padding-top: 10px;
    width: 256px;
    float: left;
}

.addBlockText
{
    height: 60px;
    padding-top: 10px;
    width: 256px;
    float: left;
    text-align: right;
}

.addContactsTheme
{

}

.actionBtn
{
    width: 230px;
}

#logoLoginPage
{
    width: 350px;
}

#loginPage
{
    background-color: #CCCCCC
}

#logoNav
{
    height: 46px;
}
