html
{
    height: 100%;
}

body
{
    margin: 0px;
    text-align: left;
    letter-spacing: 1pt;
    height: 100%;
}

#bar
{
    height: 50px;
    background-color: #4A5364;
}

#userInfo
{
    width: 20%;
    float: left;
    text-align: left;
    color: white;
    margin-bottom: 0px;

}

#fullName
{
    font-size: 19px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #dbdbdb;
}

#role
{
    margin-left: 21px;
    margin-top: 4px;
    font-size: 9px;
    color: #dbdbdb;
}

#logo
{
    width: 60%;
    float: left;
    text-align: center;
}

#left
{
    clear: both;
    width: 15%;
    height: 900px;
    background-color: #4A5364;
    float: left;

}

#right
{
    width: 85%;
    height: 900px;
    float: left;

}

#loginBtn
{
    width: 150px;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #4A5364;
    background-color: #4A5364;
    font-weight: bold;
}

button[type=button]
{
    background-color: red;
    border-radius: 4px;
    border: none;
    color: white;
    height: 30px;
    width: 100px;
    margin: 10px;
    font-weight: 700;
}

.error
{
    color: red;
    font-weight: bold;
    font-size: 15px;
    margin: 0;
}

.menu
{
    color: #dbdbdb;
    height: 50px;
    font-size: 20px;
    text-align: left;
    padding-left: 21px;
    padding-top: 20px;
    font-weight: bold;
}

a:link {
  text-decoration: none;
  color: #dbdbdb;
}

a:visited {
  text-decoration: none;
  color: #dbdbdb;
}

a:hover {
  text-decoration: none;
  color: #dbdbdb;
}

a:active {
  text-decoration: none;
  color: #dbdbdb;
}

a.tableLink:link {
  text-decoration: none;
  color: #000000;
}

a.tableLink:visited {
  text-decoration: none;
  color: #000000;
}

a.tableLink:hover {
  text-decoration: underline;
  color: #000000;
}

a.tableLink:active {
  text-decoration: underline;
  color: #000000;
}

#backBtn
{
    width: 150px;
    padding: 11px;
    margin: 15px;
    border-radius: 10px;
    border: 1px solid #5199FF;
    background-color: #5199FF;
    font-size: 15px;
    color: white;
}

#addUserBtn
{
    padding: 5px;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: #FFD600;
    font-size: medium;
    width: 120px;
}

#addUser
{
    float: left;
    margin-top: 30px;
    margin-left: 40px;
    text-align: left;
}

#userTbl
{
    float: left;
    width: 100%
}

#nav
{
    background-color: #cccccc;
    height: 20px;
    text-align: left;
    padding: 10px;
    letter-spacing: 3pt;
}

#registration
{
    margin-top: 20px;
}

#test
{
    background-color: red;
}

.edit
{
    width: 320px;
    height: 40px;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #333333;
}

#details
{
    margin-top: 20px;
}

#clock
{
    float: right;
}

#basicInfo
{
    margin: 0px 20px 20px 20px;
    height: 257px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #ededed;
    clear: both;
}

#relatedInfo
{
    margin: 0px 20px 20px 20px;
    height: auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #ededed;
    clear: both;
}

#contactInfo
{
    margin: 20px;
    height: 190px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #ededed;
}

.basicInfoHeader
{
    background-color: #ededed;
    height: 18px;
    text-align: left;
    padding: 14px;
    border-radius: 5px;
    font-size: 17px;
}

#contactInfoHeader
{
    background-color: #ededed;
    height: 18px;
    text-align: left;
    padding: 14px;
    border-radius: 5px;
    font-size: 17px;
}

.addBlock
{
    height: 60px;
    padding-top: 10px;
    width: 286px;
    float: left;
}

.addBlockText
{
    height: 60px;
    padding-top: 10px;
    width: 300px;
    float: left;
    text-align: right;
}

.addContactsTheme
{

}

.actionBtn
{
    width: 230px;
}

#logoLoginPage
{
    width: 350px;

}

#loginPage
{
    background-color: #CCCCCC;
    text-align: center;
}

#logoNav
{
    height: 46px;
}

#CompanyContactInfo
{
    margin: 20px;
    height: 230px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #ededed;
}

#addressInfoHeader
{
    background-color: #ededed;
    height: 18px;
    text-align: left;
    padding: 14px;
    border-radius: 5px;
    font-size: 17px;
}

#addressInfo
{
    margin: 20px;
    height: 190px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #ededed;
}

.usersAdd
{
    width: 300px;
    height: 20px;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #333333;
}

.fieldError
{
    border:1px solid red;
}

.loginInput
{
    width: 300px;
    height: 20px;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #333333;
}

.usersError
{
    width: 300px;
    height: 20px;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border:1px solid red;
}

.addInput
{
    border: 1px solid #ededed;
    width: 187px;
    height: 25px;
    border-radius: 5px;
}

.addError
{
    border: 1px solid red;
    width: 100%;
    padding: 5px;

}

.addSelect
{
    border: 1px solid #ededed;
    width: 187px;
    height: 25px;
    border-radius: 5px;
}

#actionBar
{
    text-align: right;
    margin-right: 10px;
}

#editBtn
{
    background-color: green;
    width: 75px;
}

#deleteBtn
{
    background-color: red;
    width: 75px;
}

#summary
{
    background-color: #cccccc;
    color: black;
    width: 150px;
}

#related
{
    background-color: #cccccc;
    color: black;
    width: 150px;
}

#participants
{
    background-color: #cccccc;
    color: black;
    width: 150px;
}

#leftActionBar
{
    text-align: left;
    width: 50%;
    float: left;
    margin-left: 10px;
}

#countInfo
{
    display:inline-block;
}

.countNumber
{
    font-size: 100px;
}

#export
{
    float: left;
    margin-top: 30px;
    margin-left: 40px;
    text-align: left;
}

#exportBtn
{
    padding: 5px;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: #5199FF;
    font-size: medium;
    width: 120px;
}

#generatePdf
{
    float: left;
    margin-top: 30px;
    margin-left: 40px;
    text-align: left;
}

#generatePdfBtn
{
    padding: 5px;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: #ED1C24;
    font-size: medium;
    width: 120px;
}

#exportExcel
{
    float: left;
    margin-top: 30px;
    margin-left: 40px;
    text-align: left;
}

#exportExcelBtn
{
    padding: 5px;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: #117243;
    font-size: medium;
    width: 120px;
}

.checked
{
background-color: #3a404a !important;
}

.navIcon
{
    padding-right: 10px;
}

.addingBlock
{
    margin: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

.addingHeader
{
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin: -1px;
    background-color: #e0e0e0;
}

.addingLabelBlock
{
    padding: 30px !important;
    text-align: right;
}

.addingInputBlock
{
    padding: 25px !important;
}

.addingInput
{
    width: 100%;
    padding: 5px;

}

.addingLabelBlockSmall
{
    text-align: left;
    padding-left: 25px !important;
}

.addingLabelBlockSmallFirst
{
    padding-left: 25px !important;
    margin-top: 25px;
}

.saveButton
{
    background-color: #e0e0e0;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    padding: 5px 25px 5px 25px;
}

.choiceTable
{
    margin-top: 20px;
}

.ideas
{
    min-height: 356px;
    border: solid 1px #cccccc;
    border-radius: 10px;
    width: 87%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.ideasHeader
{
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin: -1px;
    background-color: #e0e0e0;
}

.ideasTable
{
    padding: 0px !important;
}

.saveIdeaIcon
{
    font-size: 18px;
}

.saveIdeaBtn
{
    padding: 5px !important;
}

.inputIdea
{
    width: 85%;
}

a.blackLinks:link
{
    color: black !important;
}

a.blackLinks:visited
{
    color: black !important;
}

.ideaOptions
{
    font-size: 20px;
}

.iconsCenter
{
    text-align: center;
}

.redText
{
    color: red;
    font-weight: 900;
}

.greenText
{
    color: green;
    font-weight: 900;
}


    .bar{
        background-color: #4A5364;
        height: 50px;
        height: auto;
    }
    .userInfo
    {
    padding-top: 5px;
    }
    .logo{
        background-color: #4A5364;
        height: 50px;
        text-align: center;
    }
    .recordsOptions
    {

    }
    .recordsTable
    {
        padding: 0px 20px 20px 20px;
    }
    .logout{
        background-color: #4A5364;
        height: 50px;
        text-align: right;
    }
    .logoutBtn{
        font-size: 30px;
        padding: 10px;
    }
    .logoNav
    {
        height: 46px;
    }
    .menuNav
    {
        background-color: #4A5364;
    }
    .content
    {

    }
    .menuTest
    {
        color: #dbdbdb;
        font-weight: bold;
        background-color: #4A5364;
        padding: 20px;
        font-size: 19px;
    }
    .userName
    {
        padding: 0px 10px 0px 20px;
        color: #dbdbdb;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .userRole
    {
        padding: 0px 0px 0px 20px;
        color: #dbdbdb;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 10px;
    }
    .breadcrumbRight
    {
        background-color: #cccccc;
        padding: 10px !important;
        text-align: left;
        letter-spacing: 3pt;
    }
    .breadcrumbLeft
    {
        background-color: #cccccc;
        padding: 10px !important;
        text-align: right;
        letter-spacing: 3pt;
    }
    .databaseInfo
    {
        height: 50px;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .infoBlock
    {
        height: auto;
        text-align: center;
        background-color: #cccccc;
        width: 80%;
        padding: 10px !important;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px
    }
    .recordsCount
    {
        font-size: 40px;
    }
    .recordsCountLbl
    {
        font-size: 10px;
    }

    .page
    {
        height: 100%;
    }
    .recordsOptionsDiv
    {
        margin: 20px !important;
    }
    .recordsOptionsBtn
    {
        color: #cccccc;
        font-size: 30px;
        padding-right: 25px;
    }
    .table-responsive
    {
        padding: 0px 20px 20px 20px;
    }

    .row.no-gutters
    {
        margin-right: 0;
        margin-left: 0;

        & > [class^="col-"],
        & > [class*=" col-"] {
        padding-right: 0;
        padding-left: 0;
    }










