body
{
    margin: 0px;
    text-align: center;
}

.topBar
{
    height: 70px;
    background-color: #4A5364;
    text-align: right;
}

input[type=password], input[type=text]
{
    width: 200px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #333333;
}

input[type=submit]
{
    width: 100px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #333333;
    background-color: #999999;
}

button[type=button]
{
    background-color: red;
    border-radius: 4px;
    border: none;
    color: white;
    height: 50px;
    width: 150px;
    margin: 10px;
    font-weight: 900;
}

.error
{
    width: 200px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #ff0000;
}