<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Companies add</title>
    <link rel="stylesheet" href="/main.css"/>
    <script type="text/javascript" src="/script.js"></script>


</head>

<body>

<div id="bar">
    <div id="userInfo">
        <p id="fullName" th:text="${fullName}"></p>
        <p id="role" th:text="${role}"></p>
    </div>
    <div id="logo">
        <img id="logoNav" src="/crm.png"/>
    </div>
    <div id="logout">
        <a sec:authorize="isAuthenticated()" href="/logout">
            <button type="button">LOGOUT</button>
        </a>
    </div>
</div>

<div id="main">
    <div id="left">
        <div class="menu"><a href="/index"> Home </a></div>
        <div class="menu"><a href="/contacts">Contacts</a></div>
        <div class="menu"><a href="/companies">Companies</a></div>
        <div class="menu"><a href="/training">Trainings</a></div>
        <div class="menu" sec:authorize="hasAuthority('admin')"><a href="/users"> Users </a></div>
    </div>

    <div id="right">
        <div id="nav">
            <span>Home / Companies</span>
            <span id="clock"></span>

            <script type="text/javascript">
                            showTime();
            </script>
        </div>

        <form th:action="@{/save-company}" method="post" th:object="${company}">

            <div style="margin-top: 20px;" id="basicInfo">

                <div class="basicInfoHeader"> Basic information </div>

                    <div class="addBlockText">
                        <span class="addContactsTheme"> Company name</span>
                    </div>
                    <div class="addBlock">
                        <input th:field="*{companyName}" th:class="${#fields.hasErrors('companyName')}? addError : addInput"/>
                        <input type="hidden" th:field="*{id}">
                    </div>
                    <div class="addBlockText">
                        <span class="addContactsTheme"> NIP</span>
                    </div>
                    <div class="addBlock">
                        <input th:field="*{nip}" th:class="${#fields.hasErrors('nip')}? addError : addInput"/>
                    </div>

                    <div class="addBlockText">
                        <span class="addContactsTheme"> Segment</span>
                    </div>
                    <div class="addBlock">
                        <input th:field="*{segment}" th:class="${#fields.hasErrors('segment')}? addError : addInput"/>
                    </div>
                    <div class="addBlockText">
                        <span class="addContactsTheme"> Industry</span>
                    </div>
                    <div class="addBlock">
                        <input th:field="*{industry}" th:class="${#fields.hasErrors('industry')}? addError : addInput"/>
                    </div>

                <div>
                    <div class="addBlockText">
                        <span class="addContactsTheme"> Lead source</span>
                    </div>
                    <div class="addBlock">
                        <select th:class="addSelect" th:field="*{leadSource}">
                            <option value="Incoming call">Incoming call</option>
                            <option value="E-mail">E-mail</option>
                            <option value="Form">Form</option>
                            <option value="Training">Training</option>
                        </select>
                    </div>
                    <div class="addBlockText">
                        <span class="addContactsTheme"> Status</span>
                    </div>
                    <div class="addBlock">
                        <select th:class="addSelect" th:field="*{status}">
                            <option value="Active">Active</option>
                            <option value="Inactive">Inactive</option>
                        </select>
                    </div>
                </div>
            </div>

            <div id="CompanyContactInfo">
                <div id="contactInfoHeader"> Contact information </div>

                <div>
                    <div class="addBlockText">
                        <span class="addContactsTheme"> Phone</span>
                    </div>
                    <div class="addBlock">
                        <input th:field="*{phone}" th:class="${#fields.hasErrors('phone')}? addError : addInput"/>
                    </div>
                    <div class="addBlockText">
                        <span class="addContactsTheme"> E-mail</span>
                    </div>
                    <div class="addBlock">
                        <input th:field="*{email}" th:class="${#fields.hasErrors('email')}? addError : addInput"/>
                    </div>
                </div>

                <div>
                    <div class="addBlockText">
                        <span class="addContactsTheme"> Website</span>
                    </div>
                    <div class="addBlock">
                        <input th:field="*{website}" th:class="${#fields.hasErrors('website')}? addError : addInput"/>
                    </div>
                    <div class="addBlockText">
                        <span class="addContactsTheme"> Fax</span>
                    </div>
                    <div class="addBlock">
                        <input th:field="*{fax}" th:class="${#fields.hasErrors('fax')}? addError : addInput"/>
                    </div>
                </div>

                <div>
                    <div class="addBlockText">
                        <span class="addContactsTheme"> Permission to call</span>
                    </div>
                    <div class="addBlock">
                        <input type="checkbox" th:field="*{permissionToCall}">
                    </div>
                    <div class="addBlockText">
                        <span class="addContactsTheme"> Permission to send e-mail</span>
                    </div>
                    <div class="addBlock">
                        <input type="checkbox" th:field="*{permissionToEmail}">
                    </div>
                </div>
            </div>

            <div id="addressInfo">
                <div id="addressInfoHeader"> Address information </div>

                <div>
                    <div class="addBlockText">
                        <span class="addContactsTheme"> Street</span>
                    </div>
                    <div class="addBlock">
                        <input th:field="*{street}" th:class="${#fields.hasErrors('street')}? addError : addInput"/>
                    </div>
                    <div class="addBlockText">
                        <span class="addContactsTheme"> City</span>
                    </div>
                    <div class="addBlock">
                        <input th:field="*{city}" th:class="${#fields.hasErrors('city')}? addError : addInput"/>
                    </div>
                </div>

                <div>
                    <div class="addBlockText">
                        <span class="addContactsTheme"> Post Code</span>
                    </div>
                    <div class="addBlock">
                        <input th:field="*{postCode}" th:class="${#fields.hasErrors('postCode')}? addError : addInput"/>
                    </div>
                    <div class="addBlockText">
                        <span class="addContactsTheme"> Country</span>
                    </div>
                    <div class="addBlock">
                        <input th:field="*{country}" th:class="${#fields.hasErrors('country')}? addError : addInput"/>
                    </div>
                </div>
            </div>


            <input value="Save" type="submit">
        </form>

    </div>
</div>
</body>

</html>