<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Companies add</title>-->
<!--    <link rel="stylesheet" href="/main.css"/>-->
<!--    <script type="text/javascript" src="/script.js"></script>-->


<!--</head>-->

<!--<body>-->

<!--<div id="bar">-->
<!--    <div id="userInfo">-->
<!--        <p id="fullName" th:text="${fullName}"></p>-->
<!--        <p id="role" th:text="${role}"></p>-->
<!--    </div>-->
<!--    <div id="logo">-->
<!--        <img id="logoNav" src="/crm.png"/>-->
<!--    </div>-->
<!--    <div id="logout">-->
<!--        <a sec:authorize="isAuthenticated()" href="/logout">-->
<!--            <button type="button">LOGOUT</button>-->
<!--        </a>-->
<!--    </div>-->
<!--</div>-->

<!--<div id="main">-->
<!--    <div id="left">-->
<!--        <div class="menu"><a href="/index"> Home </a></div>-->
<!--        <div class="menu"><a href="/contacts">Contacts</a></div>-->
<!--        <div class="menu"><a href="/companies">Companies</a></div>-->
<!--        <div class="menu"><a href="/training">Trainings</a></div>-->
<!--        <div class="menu" sec:authorize="hasAuthority('admin')"><a href="/users"> Users </a></div>-->
<!--    </div>-->

<!--    <div id="right">-->
<!--        <div id="nav">-->
<!--            <span>Home / Companies</span>-->
<!--            <span id="clock"></span>-->

<!--            <script type="text/javascript">-->
<!--                            showTime();-->
<!--            </script>-->
<!--        </div>-->

<!--        <div id="actionBar">-->
<!--            <div id="leftActionBar">-->
<!--                <a th:href="'/companies/' + ${company.id}"><button id="summary" type="button">Summary</button></a>-->
<!--                <a th:href="'/companies/edit/' + ${company.id} + '/related-contacts'"><button id="related" type="button">Related contacts</button></a>-->
<!--            </div>-->
<!--            <div id="rightActionBar">-->
<!--                <a th:href="'/companies/edit/' + ${company.id}"><button id="editBtn" type="button">Edit</button></a>-->
<!--                <a th:href="'/companies/delete/' + ${company.id}"><button id="deleteBtn" type="button" onclick="return confirm('Are you sure you want to Remove?');">Delete</button></a>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div id="relatedInfo">-->
<!--            <div class="basicInfoHeader"> Related contacts </div>-->
<!--            <div id="userTbl">-->
<!--                <table id="usersList">-->
<!--                    <thead>-->
<!--                    <th> ID </th>-->
<!--                    <th> First name</th>-->
<!--                    <th> Last name</th>-->
<!--                    <th> Phone</th>-->
<!--                    <th> E-mail</th>-->
<!--                    <th> Job title</th>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                    <tr th:each="contact : ${relatedContacts}">-->
<!--                        <td>-->
<!--                            <a class="tableLink" th:href="'/contacts/' + ${contact.id}" th:text="${contact.id}"></a>-->
<!--                        </td>-->
<!--                        <td>-->
<!--                            <a class="tableLink" th:href="'/contacts/' + ${contact.id}" th:text="${contact.firstName}"></a>-->
<!--                        </td>-->
<!--                        <td>-->
<!--                            <a class="tableLink" th:href="'/contacts/' + ${contact.id}" th:text="${contact.lastName}"></a>-->
<!--                        </td>-->
<!--                        <td th:text="${contact.phone}"></td>-->
<!--                        <td>-->
<!--                            <a class="tableLink" th:href="'mailto:' + ${contact.email}" th:text="${contact.email}"></a>-->
<!--                        </td>-->
<!--                        <td th:text="${contact.jobTitle}"></td>-->
<!--                    </tr>-->
<!--                    </tbody>-->
<!--                </table>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->
<!--</div>-->
<!--</body>-->

<!--</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/main.css"/>
    <script type="text/javascript" src="/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/e05edf3ce6.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="row no-gutters bar">
    <div class="col-sm-2 col-3 userInfo">
        <div class="userName" th:text="${fullName}"></div>
        <div class="userRole" th:text="${role}"></div>
    </div>
    <div class="col-sm-8 col-6 logo">
        <img class="logoNav" src="/crm.png"/>
    </div>
    <div class="col-sm-2 col-3 logout">
        <a sec:authorize="isAuthenticated()" href="/logout">
            <i class="fas fa-sign-out-alt logoutBtn"></i>
        </a>
    </div>
</div>
<div class="row no-gutters page">
    <div class="col-md-2 d-none d-md-block menuNav">
        <div class="col-md-12 col-4 menuTest"><a href="/index"><i class="fas fa-home navIcon"></i> Home </a></div>
        <div class="col-md-12 col-4 menuTest"><a href="/contacts"><i class="fas fa-address-card navIcon"></i> Contacts</a></div>
        <div class="col-md-12 col-4 menuTest checked"><a href="/companies"><i class="fas fa-address-card navIcon"></i> Companies</a></div>
        <div class="col-md-12 col-4 menuTest"><a href="/training"><i class="fas fa-calendar-week navIcon"></i> Trainings</a></div>
        <div class="col-md-12 col-4 menuTest"><a href="/users"><i class="fas fa-user navIcon"></i> Users </a></div>
        <div class="col-md-12 col-4 menuTest"><a href="/test"><i class="fas fa-eye-slash navIcon"></i> Test </a></div>
        <div class="col-md-12 col-4 menuTest"><a href="/ideas"><i class="fas fa-lightbulb navIcon"></i> Ideas </a></div>
    </div>

    <div class="col-md-10 content">
        <div class="row no-gutters breadcrumbAll">
            <div class="col-md-6 col-6 breadcrumbRight"> Home / Company / Related contacts </div>
            <div class="col-md-6 col-6 breadcrumbLeft" id="clock2">
                <script type="text/javascript">
                                showTime();
                            </script>
            </div>
        </div>
        <div class="row no-gutters recordsOptionsDiv">
            <a th:href="'/companies/' + ${company.id}"><i class="fas fa-info-circle recordsOptionsBtn"></i></a>
        </div>
        <div class="addingBlock">
            <div class="addingHeader"> Participants </div>
            <div class="table-responsive">
                <table class="table table-bordered choiceTable">
                    <thead>
                    <th> First name </th>
                    <th> Last name </th>
                    <th> Company </th>
                    <th> E-mail</th>
                    </thead>
                    <tbody>
                    <tr th:each="contact : ${relatedContacts}">
                        <td>
                            <a class="tableLink" th:href="'/contacts/' + ${contact.id}" th:text="${contact.firstName}"></a>
                        </td>
                        <td>
                            <a class="tableLink" th:href="'/contacts/' + ${contact.id}" th:text="${contact.lastName}"></a>
                        </td>
                        <td>
                            <a class="tableLink" th:href="'/contacts/' + ${contact.id}" th:text="${contact.company.companyName}"></a>
                        </td>
                        <td>
                            <a class="tableLink" th:href="'/contacts/' + ${contact.id}" th:text="${contact.email}"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>