<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Companies add</title>
    <link rel="stylesheet" href="/main.css"/>
    <script type="text/javascript" src="/script.js"></script>


</head>

<body>

<div id="bar">
    <div id="userInfo">
        <p id="fullName" th:text="${fullName}"></p>
        <p id="role" th:text="${role}"></p>
    </div>
    <div id="logo">
        <img id="logoNav" src="/crm.png"/>
    </div>
    <div id="logout">
        <a sec:authorize="isAuthenticated()" href="/logout">
            <button type="button">LOGOUT</button>
        </a>
    </div>
</div>

<div id="main">
    <div id="left">
        <div class="menu"><a href="/home"> Home </a></div>
        <div class="menu"><a href="/contacts">Contacts</a></div>
        <div class="menu"><a href="/companies">Companies</a></div>
        <div class="menu"><a href="/training">Trainings</a></div>
        <div class="menu" sec:authorize="hasAuthority('admin')"><a href="/users"> Users </a></div>
    </div>

    <div id="right">
        <div id="nav">
            <span>Home / Companies</span>
            <span id="clock"></span>

            <script type="text/javascript">
                            showTime();
            </script>
        </div>

        <div id="actionBar">
            <div id="leftActionBar">
                <a th:href="'/companies/' + ${company.id}"><button id="summary" type="button">Summary</button></a>
                <a th:href="'/companies/edit/' + ${company.id} + '/related-contacts'"><button id="related" type="button">Related contacts</button></a>
            </div>
            <div id="rightActionBar">
                <a th:href="'/companies/edit/' + ${company.id}"><button id="editBtn" type="button">Edit</button></a>
                <a th:href="'/companies/delete/' + ${company.id}"><button id="deleteBtn" type="button" onclick="return confirm('Are you sure you want to Remove?');">Delete</button></a>
            </div>
        </div>

        <div id="relatedInfo">
            <div class="basicInfoHeader"> Related contacts </div>
            <div id="userTbl">
                <table id="usersList">
                    <thead>
                    <th> ID </th>
                    <th> First name</th>
                    <th> Last name</th>
                    <th> Phone</th>
                    <th> E-mail</th>
                    <th> Job title</th>
                    </thead>
                    <tbody>
                    <tr th:each="contact : ${relatedContacts}">
                        <td>
                            <a class="tableLink" th:href="'/contacts/' + ${contact.id}" th:text="${contact.id}"></a>
                        </td>
                        <td>
                            <a class="tableLink" th:href="'/contacts/' + ${contact.id}" th:text="${contact.firstName}"></a>
                        </td>
                        <td>
                            <a class="tableLink" th:href="'/contacts/' + ${contact.id}" th:text="${contact.lastName}"></a>
                        </td>
                        <td th:text="${contact.phone}"></td>
                        <td>
                            <a class="tableLink" th:href="'mailto:' + ${contact.email}" th:text="${contact.email}"></a>
                        </td>
                        <td th:text="${contact.jobTitle}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
</body>

</html>