<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Companies</title>
    <link rel="stylesheet" href="/main.css"/>
    <script type="text/javascript" src="/script.js"></script>


</head>

<body>

<div id="bar">
    <div id="userInfo">
        <p id="fullName" th:text="${fullName}"></p>
        <p id="role" th:text="${role}"></p>
    </div>
    <div id="logo">
        <img id="logoNav" src="/crm.png"/>
    </div>
    <div id="logout">
        <a sec:authorize="isAuthenticated()" href="/logout">
            <button type="button">LOGOUT</button>
        </a>
    </div>
</div>

<div id="main">
    <div id="left">
        <div class="menu"><a href="/home"> Home </a></div>
        <div class="menu"><a href="/contacts">Contacts</a></div>
        <div class="menu"><a href="/companies">Companies</a></div>
        <div class="menu"><a href="/training">Trainings</a></div>
        <div class="menu" sec:authorize="hasAuthority('ROLE_ADMIN')"><a href="/users"> Users </a></div>
    </div>

    <div id="right">
        <div id="nav">
            <span>Home / Contacts</span>
            <span id="clock"></span>

            <script type="text/javascript">
                            showTime();
                        </script>
        </div>
        <div>
            <div id="addUser">
                <a href="/companies/add"><button id="addUserBtn"> Add company </button></a>
            </div>
            <div id="export">
                <a href="/companies/export"><button id="exportBtn"> Export to CSV </button></a>
            </div>
            <div id="exportExcel">
                <a href="/companies/export-excel"><button id="exportExcelBtn"> Export to Excel </button></a>
            </div>
        </div>

        <div id="userTbl">
            <table id="usersList">
                <thead>
                <th> ID </th>
                <th> Company name</th>
                <th> NIP</th>
                <th> Segment</th>
                <th> Industry</th>
                <th> City</th>
                </thead>
                <tbody>
                <tr th:each="company : ${companiesList}">
                    <td>
                        <a class="tableLink" th:href="'/companies/' + ${company.id}" th:text="${company.id}"></a>
                    </td>
                    <td>
                        <a class="tableLink" th:href="'/companies/' + ${company.id}" th:text="${company.companyName}"></a>
                    </td>
                    <td>
                        <a class="tableLink" th:href="'/companies/' + ${company.id}" th:text="${company.nip}"></a>
                    </td>
                    <td th:text="${company.segment}"></td>
                    <td th:text="${company.industry}"></td>
                    <td th:text="${company.city}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
</div>
</body>

</html>