<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/main.css"/>
    <script type="text/javascript" src="/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/e05edf3ce6.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="table-responsive">
        <table class="table table-bordered choiceTable">
            <thead>
            <th> ID </th>
            <th> Company name </th>
            <th> NIP</th>
            <th> Segment </th>
            <th> City </th>
            <th></th>
            </thead>
            <tbody>
            <tr th:each="company : ${companiesList}">
                <td>
                    <a th:id="'companyId' + ${company.id}" th:text="${company.id}"></a>
                </td>
                <td>
                    <a th:id="companyName" th:text="${company.companyName}"></a>
                </td>
                <td>
                    <a th:text="${company.nip}"></a>
                </td>
                <td>
                    <a th:text="${company.segment}"></a>
                </td>
                <td>
                    <a th:text="${company.city}"></a>
                </td>
                <td>
                    <i class="fas fa-check recordsOptionsBtn" th:onclick="'javascript:post_value(' + ${company.id} + ')'"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>