<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Contacts add</title>
    <link rel="stylesheet" href="/main.css"/>
    <script type="text/javascript" src="/script.js"></script>




</head>
<body>

<div id="bar">
    <div id="userInfo">
        <p id="fullName" th:text="${fullName}"></p>
        <p id="role" th:text="${role}"></p>
    </div>
    <div id="logo">
        <img id="logoNav" src="/crm.png"/>
    </div>
    <div id="logout">
        <a sec:authorize="isAuthenticated()" href="/logout">
            <button type="button">LOGOUT</button>
        </a>
    </div>
</div>

<div id="left">
    <div class="menu"><a href="/home"> Home </a></div>
    <div class="menu"><a href="/contacts">Contacts</a></div>
    <div class="menu"><a href="/companies">Companies</a></div>
    <div class="menu"><a href="/training">Trainings</a></div>
    <div class="menu" sec:authorize="hasAuthority('admin')"><a href="/users"> Users </a></div>
</div>

<div id="right">
    <div id="nav">
        <span>Home / Contacts / Add contact</span>
        <span id="clock"></span>
        <script type="text/javascript">
                showTime();
            </script>
    </div>

    <div id="actionBar">
        <a th:href="'/contacts/edit/' + ${contact.id}"><button id="editBtn" type="button">Edit</button></a>
        <a th:href="'/contacts/delete/' + ${contact.id}"><button id="deleteBtn" type="button" onclick="return confirm('Are you sure you want to Remove?');">Delete</button></a>
    </div>

    <form th:action="@{/save-contact}" method="post" th:object="${contact}">

        <div id="basicInfo">
            <div class="basicInfoHeader"> Basic information </div>
            <div>
                <div class="addBlockText">
                    <span class="addContactsTheme"> First name</span>
                </div>
                <div class="addBlock">
                    <input class="addInput" th:field="*{firstName}" readonly/>
                    <input type="hidden" th:field="*{id}">
                </div>
                <div class="addBlockText">
                    <span class="addContactsTheme"> Last name</span>
                </div>
                <div class="addBlock">
                    <input class="addInput" th:field="*{lastName}" readonly/>
                </div>
            </div>

            <div>
                <div class="addBlockText">
                    <span class="addContactsTheme"> Job title</span>
                </div>
                <div class="addBlock">
                    <input class="addInput" th:field="*{jobTitle}" readonly/>
                </div>
                <div class="addBlockText">
                    <span class="addContactsTheme"> Company</span>
                </div>
                <div class="addBlock">
                    <input class="addInput" th:field="*{company.companyName}" readonly/>
                </div>
            </div>

            <div>
                <div class="addBlockText">
                    <span class="addContactsTheme"> Lead source</span>
                </div>
                <div class="addBlock">
                    <input class="addInput" th:field="*{leadSource}"readonly/>
                </div>
                <div class="addBlockText">
                    <span class="addContactsTheme"> Status</span>
                </div>
                <div class="addBlock">
                    <input class="addInput" th:field="*{status}" readonly/>
                </div>
            </div>

        </div>
        <div id="contactInfo">
            <div id="contactInfoHeader"> Contact information </div>

            <div>
                <div class="addBlockText">
                    <span class="addContactsTheme"> Phone</span>
                </div>
                <div class="addBlock">
                    <input class="addInput" th:field="*{phone}" readonly/>
                </div>
                <div class="addBlockText">
                    <span class="addContactsTheme"> E-mail</span>
                </div>
                <div class="addBlock">
                    <input class="addInput" th:field="*{email}" readonly/>
                </div>
            </div>

            <div>
                <div class="addBlockText">
                    <span class="addContactsTheme"> Permission to call</span>
                </div>
                <div class="addBlock">
                    <input type="checkbox" th:field="*{doNotCall}" onclick="return false;"/>
                </div>
                <div class="addBlockText">
                    <span class="addContactsTheme"> Permission to send e-mail</span>
                </div>
                <div class="addBlock">
                    <input type="checkbox" th:field="*{emailOutput}" onclick="return false;"/>
                </div>
            </div>
        </div>

    </form>


</div>
</body>
</html>