<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Company choice</title>
    <link rel="stylesheet" href="/main.css"/>
    <script type="text/javascript" src="/script.js"></script>

</head>
<body>

    <table id="usersList">
        <thead>
        <th> ID </th>
        <th> Company name</th>
        <th> NIP</th>
        <th> Segment</th>
        <th> Industry</th>
        <th> City</th>
        <th></th>
        </thead>
        <tbody>
        <tr th:each="company : ${companiesList}">
            <td th:id="'companyId' + ${company.id}" th:text="${company.id}"></td>
            <td th:id="${company.companyName}" th:text="${company.companyName}"></td>
            <td id="nip" th:text="${company.nip}"></td>
            <td id="segment" th:text="${company.segment}"></td>
            <td id="industry" th:text="${company.industry}"></td>
            <td id="city" th:text="${company.city}"></td>
            <td><button th:onclick="'javascript:post_value(' + ${company.id} + ')'">Set</button></td>
<!--            <td><button th:onclick="'javascript:post_value(' + ${company.id} + ')'; 'javascript:post_companyName(' + ${company.companyName} + ')'">Set</button></td>-->


        </tr>
        </tbody>
    </table>

</body>
</html>