<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
    <link rel="stylesheet" href="/main.css"/>
    <script type="text/javascript" src="/script.js"></script>


</head>

<body>

<div id="bar">
    <div id="userInfo">
        <p id="fullName" th:text="${fullName}"></p>
        <p id="role" th:text="${role}"></p>
    </div>
    <div id="logo">
        <img id="logoNav" src="/crm.png"/>
    </div>
    <div id="logout">
        <a sec:authorize="isAuthenticated()" href="/logout">
            <button type="button">LOGOUT</button>
        </a>
    </div>
</div>

    <div id="main">
        <div id="left">
            <div class="menu"><a href="/home"> Home </a></div>
            <div class="menu"><a href="/contacts">Contacts</a></div>
            <div class="menu"><a href="/companies">Companies</a></div>
            <div class="menu"><a href="/training">Trainings</a></div>
            <div class="menu" sec:authorize="hasAuthority('admin')"><a href="/users"> Users </a></div>
        </div>

        <div id="right">
            <div id="nav">
                <span>Home / Contacts</span>
                <span id="clock"></span>

                <script type="text/javascript">
                            showTime();
                        </script>
            </div>
            <div>
                <div id="addUser">
                    <a href="/contacts/add"><button id="addUserBtn"> Add contact </button></a>
                </div>
                <div id="export">
                    <a href="/contacts/export"><button id="exportBtn"> Export to CSV </button></a>
                </div>
                <div id="exportExcel">
                    <a href="/contacts/export-excel"><button id="exportExcelBtn"> Export to Excel </button></a>
                </div>
            </div>

            <div id="userTbl">
                <table id="usersList">
                    <thead>
                    <th> ID </th>
                    <th> First name</th>
                    <th> Last name</th>
                    <th> Company</th>
                    <th> E-mail</th>
                    <th> Job title</th>
                    </thead>
                    <tbody>
                        <tr th:each="contact : ${contacts}">
                            <td>
                                <a class="tableLink" th:href="'/contacts/' + ${contact.id}" th:text="${contact.id}"></a>
                            </td>
                            <td>
                                <a class="tableLink" th:href="'/contacts/' + ${contact.id}" th:text="${contact.firstName}"></a>
                            </td>
                            <td>
                                <a class="tableLink" th:href="'/contacts/' + ${contact.id}" th:text="${contact.lastName}"></a>
                            </td>
                            <td th:text="${contact.company.companyName}"></td>
                            <td>
                                <a class="tableLink" th:href="'mailto:' + ${contact.email}" th:text="${contact.email}"></a>
                            </td>
                            <td th:text="${contact.jobTitle}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </body>

</html>