<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/main.css"/>
</head>
<body id="loginPage">

<div>

    <div>
        <img id="logoLoginPage" src="crm.png"/>
    </div>

    <form action="loginform" th:action="@{/}" method="post" ><br>
        <input class="loginInput" type="text" th:name="login" placeholder="Username"/><br>
        <input class="loginInput" type="password" th:name="password" placeholder="Password"/><br>
        <input id="loginBtn" type="submit" value="Login"/>
    </form>
</div>



</body>
</html>