<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

</head>
<body>

    <h1>New account</h1>

    <form th:action="@{/save-user}" method="post" th:object="${user}">
        <input id="firstName" type="text" placeholder="First name" th:field="*{firstName}"><br><br>
        <input id="lastname" type="text" placeholder="Last name" th:field="*{lastName}"><br><br>
        <input id="login" type="text" placeholder="User name" th:field="*{login}"><br><br>
        <input id="email" type="text" placeholder="E-mail" th:field="*{email}"><br><br>
        <input id="password" type="text" placeholder="Password" th:field="*{password}"><br><br>
        <input value="Save" type="submit">
    </form>



</body>
</html>