<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="main.css"/>
    <script src="https://kit.fontawesome.com/yourcode.js"></script>




</head>
<body>

    <div id="bar">
        <div id="userInfo">
            <p id="fullName" th:text="${fullName}"></p>
            <p id="role" th:text="${role}"></p>
        </div>
        <div id="logo">
            <img src="crm.png"/>
        </div>
        <div id="logout">
            <a sec:authorize="isAuthenticated()" href="/logout">
                <button type="button">LOGOUT</button>
            </a>
        </div>
    </div>

    <div id="left">
        <div class="menu"> Contacts </div>
        <div class="menu"> Contractors </div>
        <div class="menu"> Trainings </div>
        <div class="menu"> Localizations </div>


    </div>



</body>
</html>