<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/main.css"/>
    <script type="text/javascript" src="/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/e05edf3ce6.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="row no-gutters bar">
    <div class="col-sm-2 col-3 userInfo">
        <div class="userName" th:text="${fullName}"></div>
        <div class="userRole" th:text="${role}"></div>
    </div>
    <div class="col-sm-8 col-6 logo">
        <img class="logoNav" src="/crm.png"/>
    </div>
    <div class="col-sm-2 col-3 logout">
        <a sec:authorize="isAuthenticated()" href="/logout">
            <i class="fas fa-sign-out-alt logoutBtn"></i>
        </a>
    </div>
</div>
<div class="row no-gutters page">
    <div class="col-md-2 d-none d-md-block menuNav">
        <div class="col-md-12 col-4 menuTest"><a href="/index"><i class="fas fa-home navIcon"></i> Home </a></div>
        <div class="col-md-12 col-4 menuTest"><a href="/contacts"><i class="fas fa-address-card navIcon"></i> Contacts</a></div>
        <div class="col-md-12 col-4 menuTest"><a href="/companies"><i class="fas fa-address-card navIcon"></i> Companies</a></div>
        <div class="col-md-12 col-4 menuTest checked"><a href="/training"><i class="fas fa-calendar-week navIcon"></i> Trainings</a></div>
        <div class="col-md-12 col-4 menuTest"><a href="/users"><i class="fas fa-user navIcon"></i> Users </a></div>
        <div class="col-md-12 col-4 menuTest"><a href="/test"><i class="fas fa-eye-slash navIcon"></i> Test </a></div>
    </div>

    <div class="col-md-10 content">
        <div class="row no-gutters breadcrumbAll">
            <div class="col-md-6 col-6 breadcrumbRight"> Home / Training / Details </div>
            <div class="col-md-6 col-6 breadcrumbLeft" id="clock2">
                <script type="text/javascript">
                                showTime();
                            </script>
            </div>
        </div>

        <form th:action="@{/save-training}" method="post" th:object="${training}">
            <div class="row no-gutters recordsOptionsDiv">
                <a th:href="'/training/edit/' + ${training.id}"><i class="fas fa-edit recordsOptionsBtn"></i></a>
                <a th:href="'/training/delete/' + ${training.id}"><i class="fas fa-trash-alt recordsOptionsBtn" onclick="return confirm('Are you sure you want to Remove?');"></i></a>
                <a th:href="'/training/' + ${training.id} + '/participants'"><i class="fas fa-user recordsOptionsBtn"></i></a>
            </div>
            <div class="addingBlock">
                <div class="addingHeader"> Basic information </div>
                <div class="row no-gutters">
                    <div class="col-md-3 d-none d-md-block addingLabelBlock"> Date start </div>
                    <div class="col-md-3 d-block d-sm-none addingLabelBlockSmallFirst"> Date start </div>
                    <div class="col-md-3 col-12 addingInputBlock"><input type="date" th:field="*{dateStart}" th:class="${#fields.hasErrors('dateStart')}? addError : addingInput" readonly></div>
                    <div class="col-md-3 d-none d-md-block addingLabelBlock"> Date end </div>
                    <div class="col-md-3 d-block d-sm-none addingLabelBlockSmall"> Date end </div>
                    <div class="col-md-3 col-12 addingInputBlock"><input type="date" th:field="*{dateEnd}" th:class="${#fields.hasErrors('dateEnd')}? addError : addingInput" readonly></div>
                    <input type="hidden" th:field="*{id}">
                </div>
                <div class="row no-gutters">
                    <div class="col-md-3 d-none d-md-block addingLabelBlock"> Localization </div>
                    <div class="col-md-3 d-block d-sm-none addingLabelBlockSmall"> Localization </div>
                    <div class="col-md-3 col-12 addingInputBlock"><input type="text" th:field="*{localization}" th:class="${#fields.hasErrors('localization')}? addError : addingInput" readonly></div>
                    <div class="col-md-3 d-none d-md-block addingLabelBlock"> Trainer </div>
                    <div class="col-md-3 d-block d-sm-none addingLabelBlockSmall"> Trainer </div>
                    <div class="col-md-3 col-12 addingInputBlock"><input type="text" th:field="*{trainer}" th:class="${#fields.hasErrors('trainer')}? addError : addingInput" readonly></div>
                </div>
                <div class="row no-gutters">
                    <div class="col-md-3 d-none d-md-block addingLabelBlock"> Capacity </div>
                    <div class="col-md-3 d-block d-sm-none addingLabelBlockSmall"> Capacity </div>
                    <div class="col-md-3 col-12 addingInputBlock"><input type="text" th:field="*{capacity}" th:class="${#fields.hasErrors('capacity')}? addError : addingInput" readonly></div>
                    <div class="col-md-3 d-none d-md-block addingLabelBlock"> Free places </div>
                    <div class="col-md-3 d-block d-sm-none addingLabelBlockSmall"> Free places </div>
                    <div class="col-md-3 col-12 addingInputBlock"><input type="text" th:field="*{freePlaces}" th:class="${#fields.hasErrors('freePlaces')}? addError : addingInput" readonly></div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>