<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users add</title>
    <link rel="stylesheet" href="/main.css"/>
    <script type="text/javascript" src="/script.js"></script>

</head>
<body>

<body>

<div id="bar">
    <div id="userInfo">
        <p id="fullName" th:text="${fullName}"></p>
        <p id="role" th:text="${role}"></p>
    </div>
    <div id="logo">
        <img id="logoNav" src="/crm.png"/>
    </div>
    <div id="logout">
        <a sec:authorize="isAuthenticated()" href="/logout">
            <button type="button">LOGOUT</button>
        </a>
    </div>
</div>

<div id="left">
    <div class="menu"><a href="/home"> Home </a></div>
    <div class="menu"><a href="/contacts">Contacts</a></div>
    <div class="menu"><a href="/companies">Companies</a></div>
    <div class="menu"><a href="/trainings">Trainings</a></div>
    <div class="menu" sec:authorize="hasAuthority('admin')"><a href="/users"> Users </a></div>
</div>
<div id="right">
    <div id="nav">
        <span>Home / Users / Add user</span>
        <span id="clock"></span>

        <script type="text/javascript">
            showTime();
        </script>
    </div>
    <div id="registration">
        <form th:action="@{/save-user}" method="post" th:object="${user}">

            <input type="text" placeholder="First name" th:field="*{firstName}" th:class="${#fields.hasErrors('firstName')}? usersError : usersAdd"/><br>
            <input type="text" placeholder="Last name" th:field="*{lastName}" th:class="${#fields.hasErrors('lastName')}? usersError : usersAdd"/><br>
            <input type="text" placeholder="User name" th:field="*{login}" th:class="${#fields.hasErrors('login')}? usersError : usersAdd"/><br>
            <input type="text" placeholder="E-mail" th:field="*{email}" th:class="${#fields.hasErrors('email')}? usersError : usersAdd"/><br>
            <input type="password" placeholder="Password" th:field="*{password}" th:class="${#fields.hasErrors('password')}? usersError : usersAdd"/><br>
            <input value="Save" type="submit">
        </form>
    </div>
</div>





</body>

</body>
</html>