<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="/main.css"/>
    <script src="https://kit.fontawesome.com/yourcode.js"></script>




</head>
    <body>

        <div id="bar">
            <div id="userInfo">
                <p id="fullName" th:text="${fullName}"></p>
                <p id="role" th:text="${role}"></p>
            </div>
            <div id="logo">
                <img src="/crm.png"/>
            </div>
            <div id="logout">
                <a sec:authorize="isAuthenticated()" href="/logout">
                    <button type="button">LOGOUT</button>
                </a>
            </div>
        </div>

        <div id="main">
            <div id="left">
                <div class="menu"><a href="/home"> Home </a></div>
                <div class="menu"> Contacts </div>
                <div class="menu"> Companies </div>
                <div class="menu"> Trainings </div>
                <div class="menu"> Localizations </div>
                <div class="menu" sec:authorize="hasAuthority('admin')"><a href="/users"> Users </a></div>
            </div>

            <div id="right">
                <div id="nav"><span>Home   /   Users</span></div>
                <div id="addUser">
                    <a href="/users/add"><button id="addUserBtn"> Add user </button></a>
                </div>
                <div id="userTbl">
                    <table id="usersList">
                        <thead>
                        <th> ID </th>
                        <th> First name</th>
                        <th> Last name</th>
                        <th> Login</th>
                        <th> E-mail</th>
                        <th>        </th>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${usersList}">
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.firstName}"></td>
                            <td th:text="${user.lastName}"></td>
                            <td th:text="${user.login}"></td>
                            <td th:text="${user.email}"></td>
                            <td>
                                <a th:href="'/users/' + ${user.id}"><button  id="detailsBtn">Details</button></a>
                                <a th:href="'/users/delete/' + ${user.id}" onclick="return confirm('Are you sure?')"><button id="deleteBtn">Delete</button></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>