<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/main.css"/>
    <script type="text/javascript" src="/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/e05edf3ce6.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="row no-gutters bar">
    <div class="col-sm-2 col-3 userInfo">
        <div class="userName" th:text="${fullName}"></div>
        <div class="userRole" th:text="${role}"></div>
    </div>
    <div class="col-sm-8 col-6 logo">
        <img class="logoNav" src="crm.png"/>
    </div>
    <div class="col-sm-2 col-3 logout">
        <a sec:authorize="isAuthenticated()" href="/logout">
            <i class="fas fa-sign-out-alt logoutBtn"></i>
        </a>
    </div>
</div>
<div class="row no-gutters page">
    <div class="col-md-2 menuNav">
        <div class="col-md-12 col-4 menuTest"><a href="/home"><i class="fas fa-home navIcon"></i> Home </a></div>
        <div class="col-md-12 col-4 menuTest"><a href="/contacts"><i class="fas fa-address-card navIcon"></i> Contacts</a></div>
        <div class="col-md-12 col-4 menuTest"><a href="/companies"><i class="fas fa-address-card navIcon"></i> Companies</a></div>
        <div class="col-md-12 col-4 menuTest"><a href="/training"><i class="fas fa-calendar-week navIcon"></i> Trainings</a></div>
        <div class="col-md-12 col-4 menuTest"><a href="/users"><i class="fas fa-user navIcon"></i> Users </a></div>
        <div class="col-md-12 col-4 menuTest"><a href="/test"><i class="fas fa-eye-slash navIcon"></i> Test </a></div>
    </div>

    <div class="col-md-10 content">
        <div class="row no-gutters breadcrumbAll">
            <div class="col-md-6 col-6 breadcrumbRight" th:text="Home"></div>
            <div class="col-md-6 col-6 breadcrumbLeft" id="clock2">
                <script type="text/javascript">
                        showTime();
                    </script>
            </div>
        </div>
        <div class="row no-gutters recordsOptionsDiv">
            <a href="/users/add"><i class="fas fa-plus-square recordsOptionsBtn"></i></a>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <th> First name </th>
                <th> Last name </th>
                <th> Login </th>
                <th> E-mail</th>
                </thead>
                <tbody>
                <tr th:each="user : ${usersList}">
                    <td>
                        <a class="tableLink" th:href="'/users/' + ${user.id}" th:text="${user.firstName}"></a>
                    </td>
                    <td>
                        <a class="tableLink" th:href="'/users/' + ${user.id}" th:text="${user.lastName}"></a>
                    </td>
                    <td>
                        <a class="tableLink" th:href="'/users/' + ${user.id}" th:text="${user.login}"></a>
                    </td>
                    <td>
                        <a class="tableLink" th:href="'/users/' + ${user.id}" th:text="${user.email}"></a>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
</body>
</html>